Repository FuckingApples/avtoklinik, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, repository changes

fix: some vars should be bool
  backend/src/core/settings/production.py
Labels: backend

fix: fix errors with cookies domains
  backend/.env.example
  backend/docker-compose.yml
  backend/src/apps/api/v1/oauth.py
  backend/src/apps/api/v1/tokens.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend

[feat] added equipment model, added registries migrations
  backend/src/apps/api/serializers/registries.py
  backend/src/apps/api/v1/registries.py
  backend/src/apps/registries/migrations/0009_equipment_hourlywage.py
  backend/src/apps/registries/models.py
Labels: backend

model of work
  backend/src/apps/api/serializers/work.py
  backend/src/apps/api/v1/work.py
  backend/src/apps/work/models.py
Labels: backend

model of work
  backend/src/apps/work/models.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend

model of work
  backend/src/apps/work/migrations/0001_initial.py
  backend/src/apps/work/migrations/__init__.py
Labels: backend

[feat] added main registries page
  frontend/src/app/dashboard/org/[org_id]/registries/layout.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/page.tsx
  frontend/src/components/nav-main.tsx
  frontend/src/components/registries-navigation.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/config/registries.ts
Labels: frontend

[feat] updated config and registries layout
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/dashboard/org/[org_id]/registries/layout.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/page.tsx
  frontend/src/config/registries.ts
Labels: frontend

[feat, refactoring] some refactoring, added getRegistriesCounts
  backend/src/apps/api/v1/registries.py
  frontend/src/api/registries.ts
  frontend/src/app/dashboard/org/[org_id]/registries/layout.tsx
  frontend/src/config/registries.ts
  frontend/src/types/car.ts
  frontend/src/types/registries.ts
Labels: backend, frontend

feat: remove license plate region
  backend/src/apps/api/serializers/cars.py
  backend/src/apps/cars/admin.py
  backend/src/apps/cars/filters.py
  backend/src/apps/cars/migrations/0010_remove_car_license_plate_region.py
  backend/src/apps/cars/models.py
  frontend/src/components/tables/cars/columns.tsx
  frontend/src/components/tables/cars/table.tsx
  frontend/src/components/ui/data-table/data-table-toolbar.tsx
  frontend/src/hooks/use-data-table.ts
  frontend/src/types/car.ts
  frontend/src/types/index.ts
Labels: backend, frontend

fix: update ci for requirements generator
  .github/workflows/generate-requirements.yml
Labels: repository changes

feat: add CG checks for backend
  .github/workflows/backend-checks.yml
  backend/.flake8
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend, repository changes

feat: update lock file
  backend/poetry.lock
Labels: backend

[feat] added manufacturers page
  backend/src/apps/api/v1/registries.py
  backend/src/apps/registries/filters.py
  frontend/src/api/registries.ts
  frontend/src/app/dashboard/org/[org_id]/registries/manufacturers/page.tsx
  frontend/src/components/tables/registries/manufacturers/columns.tsx
  frontend/src/components/tables/registries/manufacturers/table.tsx
  frontend/src/hooks/use-manufacturers.ts
  frontend/src/store/registries.ts
  frontend/src/types/registries.ts
Labels: backend, frontend

fix: update ci for backend checks
  .github/workflows/backend-checks.yml
Labels: repository changes

[feat] added measurement units page
  backend/src/apps/api/v1/registries.py
  backend/src/apps/registries/filters.py
  frontend/src/api/registries.ts
  frontend/src/app/dashboard/org/[org_id]/registries/measurement-units/page.tsx
  frontend/src/components/tables/registries/measurement-units/columns.tsx
  frontend/src/components/tables/registries/measurement-units/table.tsx
  frontend/src/hooks/use-manufacturers.ts
  frontend/src/hooks/use-registries.ts
  frontend/src/store/registries.ts
  frontend/src/types/registries.ts
Labels: backend, frontend

fix: remove folder from requirements path
  .github/workflows/backend-checks.yml
Labels: repository changes

feat: update poetry.lock
  backend/poetry.lock
Labels: backend

fix: add missing deps to requirements_dev.txt
  .github/workflows/generate-requirements.yml
Labels: repository changes

feat: update required plugins
  backend/pyproject.toml
  backend/requirements_dev.txt
Labels: backend

feat: refactor code
  backend/src/apps/api/serializers/work.py
  backend/src/apps/api/serializers/works.py
  backend/src/apps/api/v1/urls.py
  backend/src/apps/api/v1/works.py
  backend/src/apps/core/mixins.py
  backend/src/apps/core/serializers.py
  backend/src/apps/work/migrations/0001_initial.py
  backend/src/apps/work/models.py
  backend/src/apps/works/__init__.py
  backend/src/apps/works/apps.py
  backend/src/apps/works/migrations/0001_initial.py
  backend/src/apps/works/migrations/0002_remove_work_member_work_executor_alter_work_barcode_and_more.py
  backend/src/apps/works/migrations/0003_rename_product_work_products.py
  backend/src/apps/works/migrations/__init__.py
  backend/src/apps/works/models.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend

fix: yet another fix
  .github/workflows/backend-checks.yml
Labels: repository changes

feat: add caching
  .github/workflows/backend-checks.yml
Labels: repository changes

[refactoring] some changes
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/cars.ts
  frontend/src/api/clients.ts
  frontend/src/api/organization.ts
  frontend/src/api/registries.ts
  frontend/src/components/sidebars/car-details.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/hooks/use-registries.ts
  frontend/src/types/registries.ts
Labels: frontend

feat: update OAuth logic & remove yandex widget button
  backend/src/apps/api/serializers/oauth.py
  backend/src/apps/api/v1/oauth.py
  frontend/.env.example
  frontend/public/providers/vk.svg
  frontend/public/providers/yandex.svg
  frontend/src/api/auth.ts
  frontend/src/api/organization.ts
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/api/oauth/route.ts
  frontend/src/app/oauth/yandex/page.tsx
  frontend/src/components/oauth-button.tsx
  frontend/src/components/yandex-login-button.tsx
  frontend/src/config/oauth.ts
  frontend/src/env.js
  frontend/src/lib/pkce.ts
  frontend/src/utils/pkce.ts
Labels: backend, frontend

[feat] changed placeholder auth image
  frontend/public/placeholder.svg
  frontend/src/app/(auth)/layout.tsx
Labels: frontend

[feat] added equipments and hourly wages tables
  frontend/src/app/dashboard/org/[org_id]/registries/equipments/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/hourly-wages/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/layout.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/measurement-units/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/page.tsx
  frontend/src/components/nav-registries.tsx
  frontend/src/components/tables/registries/equipments/columns.tsx
  frontend/src/components/tables/registries/equipments/table.tsx
  frontend/src/components/tables/registries/hourly-wages/columns.tsx
  frontend/src/components/tables/registries/hourly-wages/table.tsx
  frontend/src/components/tables/registries/manufacturers/columns.tsx
  frontend/src/config/registries.ts
  frontend/src/hooks/use-registries.ts
  frontend/src/store/registries.ts
  frontend/src/types/registries.ts
Labels: frontend

[feat] added filters
  backend/src/apps/api/v1/registries.py
  backend/src/apps/registries/filters.py
Labels: backend

[feat] templates 0_o (sorry, i'm tired)
  backend/src/apps/api/serializers/templates.py
  backend/src/apps/api/urls.py
  backend/src/apps/api/v1/templates.py
  backend/src/apps/template/admin.py
  backend/src/apps/template/models.py
Labels: backend

[fix] import sort sorry
  backend/src/apps/api/serializers/templates.py
  backend/src/apps/api/urls.py
  backend/src/apps/api/v1/templates.py
  backend/src/apps/template/admin.py
Labels: backend

[fix] fix
  backend/src/apps/api/v1/templates.py
  backend/src/apps/template/models.py
  backend/src/core/settings/production.py
Labels: backend

[fix] fix
  backend/src/core/settings/production.py
Labels: backend

[fix] fix
  backend/src/apps/api/v1/templates.py
  backend/src/apps/template/apps.py
Labels: backend

[fix] 0_о
  backend/.idea/webResources.xml
  backend/src/apps/template/apps.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend

[fix] fix migrations
  backend/src/apps/template/__init__.py
  backend/src/apps/template/migrations/0001_initial.py
  backend/src/apps/template/migrations/__init__.py
  backend/src/apps/works/migrations/0001_initial.py
  backend/src/apps/works/migrations/0002_remove_work_member_work_executor_alter_work_barcode_and_more.py
  backend/src/apps/works/migrations/0003_rename_product_work_products.py
Labels: backend

added calc model
  backend/src/apps/api/serializers/calculations.py
  backend/src/apps/api/v1/calculations.py
  backend/src/apps/api/v1/urls.py
  backend/src/apps/calculations/__init__.py
  backend/src/apps/calculations/admin.py
  backend/src/apps/calculations/apps.py
  backend/src/apps/calculations/migrations/0001_initial.py
  backend/src/apps/calculations/migrations/__init__.py
  backend/src/apps/calculations/models.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend

[feat] added colors tables
  backend/src/apps/api/v1/registries.py
  backend/src/apps/registries/filters.py
  backend/src/apps/users/services/users.py
  frontend/src/app/dashboard/org/[org_id]/registries/colors/page.tsx
  frontend/src/components/tables/registries/colors/columns.tsx
  frontend/src/components/tables/registries/colors/table.tsx
  frontend/src/hooks/use-registries.ts
  frontend/src/store/registries.ts
  frontend/src/types/registries.ts
Labels: backend, frontend

[feat] added workplaces table
  backend/src/apps/api/v1/registries.py
  backend/src/apps/registries/filters.py
  frontend/src/app/dashboard/org/[org_id]/registries/workplaces/page.tsx
  frontend/src/components/tables/registries/workplaces/columns.tsx
  frontend/src/components/tables/registries/workplaces/table.tsx
  frontend/src/hooks/use-registries.ts
  frontend/src/store/registries.ts
  frontend/src/types/registries.ts
Labels: backend, frontend

[feat] registries counts now displays value from db
  backend/src/apps/registries/filters.py
  frontend/src/app/dashboard/org/[org_id]/registries/page.tsx
  frontend/src/components/nav-registries.tsx
  frontend/src/config/registries.ts
  frontend/src/hooks/use-registries.ts
  frontend/src/types/registries.ts
Labels: backend, frontend

[feat] added help menu
  frontend/src/app/dashboard/org/[org_id]/cars/page.tsx
  frontend/src/app/dashboard/org/[org_id]/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/colors/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/equipments/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/hourly-wages/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/layout.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/manufacturers/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/measurement-units/page.tsx
  frontend/src/app/dashboard/org/[org_id]/registries/page.tsx
  frontend/src/components/help-menu.tsx
  frontend/src/components/nav-registries.tsx
  frontend/src/config/help-content.ts
  frontend/src/config/registries-content.ts
  frontend/src/types/help-menu.ts
Labels: frontend

.github/labeler.yml:

backend:
  - 'backend/**'
frontend:
  - 'frontend/**'
"repository changes":
  - '*'
  - '.github/**'
