Repository FuckingApples/avtoklinik, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, repository changes

feat: add alfabank oauth button and some fixes
  frontend/.env.example
  frontend/public/fonts/GOST-R-50577-93.ttf
  frontend/public/providers/alfabank.svg
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/api/oauth/route.ts
  frontend/src/app/dashboard/org/[org_id]/cars/page.tsx
  frontend/src/components/license-plate.tsx
  frontend/src/components/oauth-button.tsx
  frontend/src/components/tables/cars/columns.tsx
  frontend/src/components/ui/dashboard-header.tsx
  frontend/src/config/oauth.ts
  frontend/src/env.js
  frontend/src/hooks/cars/use-car-filters.ts
  frontend/src/hooks/cars/use-car-table-settings.ts
Labels: frontend

feat: add vk id login api [not completed yet]
  .github/workflows/backend-checks.yml
  backend/.env.example
  backend/src/apps/api/serializers/oauth.py
  backend/src/apps/api/urls.py
  backend/src/apps/api/v1/oauth.py
  backend/src/apps/api/v1/urls.py
  backend/src/apps/users/services/users.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend, repository changes

feat: do refactoring
  backend/src/apps/api/serializers/registries.py
  backend/src/apps/api/serializers/templates.py
  backend/src/apps/api/urls.py
  backend/src/apps/api/v1/registries.py
  backend/src/apps/api/v1/templates.py
  backend/src/apps/registries/models.py
  backend/src/apps/template/__init__.py
  backend/src/apps/template/admin.py
  backend/src/apps/template/apps.py
  backend/src/apps/template/migrations/0001_initial.py
  backend/src/apps/template/migrations/__init__.py
  backend/src/apps/template/models.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend

feat: make migrations
  backend/src/apps/registries/migrations/0010_template.py
Labels: backend

[feat] now help menu can open external link (added docs link for example)
  frontend/src/components/help-menu.tsx
  frontend/src/config/help-content.ts
  frontend/src/types/help-menu.ts
Labels: frontend

.github/labeler.yml:

backend:
  - 'backend/**'
frontend:
  - 'frontend/**'
"repository changes":
  - '*'
  - '.github/**'
