Repository FuckingApples/avtoklinik, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, repository changes

[feat, refactor] added view for request model, deleted old request app from urls and settings
  backend/src/apps/api/v1/deals.py
  backend/src/apps/api/v1/urls.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend

fix: resolve merge conflicts
  backend/poetry.lock
  backend/src/apps/api/serializers/users.py
  backend/src/apps/api/v1/users.py
  backend/src/apps/requests/models.py
  backend/src/apps/users/services/users.py
Labels: backend

[feat] added AutoCreateRelatedModelMixin, added client field in request model
  backend/src/apps/core/mixins.py
  backend/src/apps/deals/models.py
Labels: backend

[feat] updated BaseOrganizationModelSerializer, deleted old request serializer
  backend/src/apps/api/serializers/requests.py
  backend/src/apps/core/serializers.py
  backend/src/apps/deals/migrations/0005_clientrequest.py
Labels: backend

[feat, fix] added request serializer, mixin and deal fixes
  backend/src/apps/api/serializers/deals.py
  backend/src/apps/api/v1/deals.py
  backend/src/apps/core/mixins.py
Labels: backend

[refactor] product moved from documents to warehouses
  backend/src/apps/api/serializers/documents.py
  backend/src/apps/api/serializers/warehouses.py
  backend/src/apps/api/v1/documents.py
  backend/src/apps/api/v1/urls.py
  backend/src/apps/api/v1/warehouses.py
  backend/src/apps/documents/migrations/0003_remove_product_category_remove_product_manufacturer_and_more.py
  backend/src/apps/documents/migrations/0004_delete_product.py
  backend/src/apps/documents/models.py
  backend/src/apps/warehouses/migrations/0006_product_alter_productstock_product.py
  backend/src/apps/warehouses/models.py
Labels: backend

[feat] added IntegrityError exception handling to AutoCreateRelatedModelMixin
  backend/src/apps/api/serializers/deals.py
  backend/src/apps/core/mixins.py
Labels: backend

feat: add image editor
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/dashboard/(user-space)/settings/details.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/modals/image-crop.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/drawer.tsx
  frontend/src/components/ui/file-upload.tsx
  frontend/src/components/ui/header.tsx
  frontend/src/lib/crop-images.ts
Labels: frontend

[feat] added unique field validator for models
  backend/src/apps/core/models.py
Labels: backend

[feat] added unique field validation in models for apps: cars, deals, registries, warehouses
  backend/src/apps/cars/migrations/0008_car_unique_car_vin_per_org_and_more.py
  backend/src/apps/cars/models.py
  backend/src/apps/deals/migrations/0006_clientrequest_unique_clientrequest_number_per_org_and_more.py
  backend/src/apps/deals/models.py
  backend/src/apps/registries/migrations/0008_category_unique_category_name_per_org_and_more.py
  backend/src/apps/registries/models.py
  backend/src/apps/warehouses/migrations/0007_productstock_unique_productstock_warehouse_per_org_and_more.py
  backend/src/apps/warehouses/models.py
Labels: backend

feat: add desktop profile page and image editor
  frontend/src/app/dashboard/(user-space)/settings/details.tsx
  frontend/src/app/dashboard/(user-space)/settings/page.tsx
  frontend/src/components/modals/image-crop.tsx
  frontend/src/components/ui/file-upload.tsx
  frontend/src/components/user-info-banner.tsx
  frontend/src/lib/crop-images.ts
  frontend/src/types/organization.ts
  frontend/src/utils/validation/user-settings.ts
Labels: frontend

[fix] deleted irrelevant dir
  backend/src/apps/requests/models.py
Labels: backend

[refactor] mixins updated
  backend/src/apps/api/serializers/deals.py
  backend/src/apps/core/mixins.py
Labels: backend

feat: add d&d for image field and back button
  frontend/src/app/dashboard/(user-space)/settings/details.tsx
  frontend/src/app/oauth/yandex/page.tsx
  frontend/src/components/forms/login.tsx
  frontend/src/components/nav-user.tsx
  frontend/src/components/ui/file-upload.tsx
  frontend/src/components/user-info-banner.tsx
Labels: frontend

[feat] added client field in car model
  backend/src/apps/api/serializers/cars.py
  backend/src/apps/api/v1/organizations.py
  backend/src/apps/cars/models.py
Labels: backend

[fix] fixed car serializer
  backend/src/apps/api/serializers/cars.py
  backend/src/apps/cars/models.py
Labels: backend

feat: update layout and add control buttons in desktop image editor layout
  frontend/src/app/dashboard/(user-space)/settings/details.tsx
  frontend/src/components/modals/image-crop.tsx
  frontend/src/components/user-info-banner.tsx
Labels: frontend

feat: add theme switch
  frontend/src/app/dashboard/(user-space)/settings/appearance.tsx
  frontend/src/app/dashboard/(user-space)/settings/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/user-space-nav.tsx
  frontend/src/styles/globals.css
Labels: frontend

[feat] added cars page
  backend/src/apps/api/v1/organizations.py
  frontend/src/api/cars.ts
  frontend/src/api/clients.ts
  frontend/src/api/organization.ts
  frontend/src/api/registries.ts
  frontend/src/app/dashboard/org/[org_id]/cars/page.tsx
  frontend/src/components/modals/car-record.tsx
  frontend/src/components/modals/car-table-filters.tsx
  frontend/src/components/modals/car-table-settings.tsx
  frontend/src/components/modals/delete-car.tsx
  frontend/src/components/sidebars/car-details.tsx
  frontend/src/components/tables/cars.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/hooks/cars/use-car-filters.ts
  frontend/src/hooks/cars/use-car-table-settings.ts
  frontend/src/types/car.ts
Labels: backend, frontend

[fix] car owner is no longer required now
  frontend/src/components/modals/car-record.tsx
Labels: frontend

[fix] mega fix
  frontend/src/app/dashboard/org/[org_id]/cars/page.tsx
Labels: frontend

[feat] car table now displayes client phone number, updated search
  frontend/src/app/dashboard/org/[org_id]/cars/page.tsx
  frontend/src/components/tables/cars.tsx
Labels: frontend

[fix, feat] fixed color icon display in table and car-detail, updated car-detail
  frontend/src/api/registries.ts
  frontend/src/components/sidebars/car-details.tsx
  frontend/src/components/tables/cars.tsx
  frontend/src/types/car.ts
Labels: frontend

[fix] frame and vin now displays in 1 row
  frontend/src/components/sidebars/car-details.tsx
Labels: frontend

[fix] frame can be edited now, car-detail can be updated in real time
  frontend/src/api/cars.ts
  frontend/src/app/dashboard/org/[org_id]/cars/page.tsx
  frontend/src/components/modals/car-record.tsx
Labels: frontend

fix: update shadcn/ui elements to match project
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
Labels: frontend

fix: add missing migrations
  backend/src/apps/cars/migrations/0009_car_client.py
Labels: backend

feat: add filters, search and ordering to views
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/apps/api/serializers/organizations.py
  backend/src/apps/api/serializers/users.py
  backend/src/apps/api/v1/cars.py
  backend/src/apps/api/v1/organizations.py
  backend/src/apps/cars/filters.py
  backend/src/apps/core/views/base.py
  backend/src/core/settings/development.py
  backend/src/core/settings/production.py
Labels: backend

feat: refactor data table
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/cars.ts
  frontend/src/api/organization.ts
  frontend/src/app/dashboard/org/[org_id]/cars/page.tsx
  frontend/src/app/dashboard/org/[org_id]/client-layout.tsx
  frontend/src/app/dashboard/org/[org_id]/page.tsx
  frontend/src/components/sidebars/car-details.tsx
  frontend/src/components/tables/cars/columns.tsx
  frontend/src/components/tables/cars/table.tsx
  frontend/src/components/ui/buttons-group.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dashboard-header.tsx
  frontend/src/components/ui/data-table-column-header.tsx
  frontend/src/components/ui/data-table.tsx
  frontend/src/config/data-table.ts
  frontend/src/hooks/cars/use-car-filters.ts
  frontend/src/hooks/use-callback-ref.ts
  frontend/src/hooks/use-cars.ts
  frontend/src/hooks/use-data-table.ts
  frontend/src/hooks/use-debounced-callback.ts
  frontend/src/hooks/use-organization.ts
  frontend/src/lib/data-table.ts
  frontend/src/lib/parsers.ts
  frontend/src/store/cars.ts
  frontend/src/store/organization.ts
  frontend/src/types/api.ts
  frontend/src/types/car.ts
  frontend/src/types/data-table.ts
  frontend/src/types/index.ts
  frontend/src/types/user.ts
  frontend/src/utils/validation/cars.ts
Labels: frontend

feat: add new shadcn/ui elements
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/sortable.tsx
  frontend/src/lib/composition.ts
Labels: frontend

feat: add data table sorting
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/providers/ReactQueryProvider.tsx
  frontend/src/components/tables/cars.tsx
  frontend/src/components/ui/data-table/data-table-column-header.tsx
  frontend/src/components/ui/data-table/data-table-sort-list.tsx
  frontend/src/components/ui/data-table/data-table-toolbar.tsx
  frontend/src/components/ui/data-table/data-table-view-options.tsx
  frontend/src/components/ui/data-table/index.tsx
  frontend/src/config/data-table.ts
  frontend/src/lib/data-table.ts
Labels: frontend

feat: add sorting to the page
  frontend/src/app/dashboard/org/[org_id]/cars/page.tsx
  frontend/src/components/tables/cars/columns.tsx
  frontend/src/components/tables/cars/table.tsx
  frontend/src/hooks/use-cars.ts
Labels: frontend

addnormhour
  backend/src/apps/api/serializers/registries.py
  backend/src/apps/api/v1/registries.py
  backend/src/apps/registries/models.py
Labels: backend

[refactor] updated hourly wage model
  backend/src/apps/api/serializers/registries.py
  backend/src/apps/api/v1/registries.py
  backend/src/apps/registries/models.py
Labels: backend

[fix] updated serializer
  backend/src/apps/api/serializers/registries.py
Labels: backend

feat: setup deployment for frontend
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.js
  frontend/src/app/layout.tsx
Labels: frontend

feat: add docker-compose.yml
  frontend/docker-compose.yml
Labels: frontend

fix: rename model in serializer
  backend/src/apps/api/serializers/registries.py
Labels: backend

fix: add app url and yandex client id to env
  frontend/.env.example
  frontend/docker-compose.yml
  frontend/src/components/yandex-login-button.tsx
  frontend/src/env.js
Labels: frontend

fix: add missing environment variable to docker-compose.yml
  frontend/docker-compose.yml
Labels: frontend

.github/labeler.yml:

backend:
  - 'backend/**'
frontend:
  - 'frontend/**'
"repository changes":
  - '*'
  - '.github/**'
